trigger: none
pr: none

stages:
- stage: Build_Python_MacOS
  dependsOn: []
  variables:
    VmImage: 'macOS-10.13'
    Platform: macos-1013
    Architecture: x64
  jobs:
  - template: /azure-pipelines/build_job.yml

- stage: Test_Python_MacOS
  dependsOn: Build_Python_MacOS
  variables:
    VmImage: 'macOS-10.13'
    Platform: macos-1013
    Architecture: x64
  jobs:
  - template: /azure-pipelines/test_job.yml

- stage: Build_Python_Ubuntu_1604
  dependsOn: []
  variables:
    VmImage: 'ubuntu-16.04'
    Platform: ubuntu-1604
    Architecture: x64
  jobs:
  - template: /azure-pipelines/build_job.yml

- stage: Test_Python_Ubuntu_1604
  dependsOn: Build_Python_Ubuntu_1604
  variables:
    VmImage: 'ubuntu-16.04'
    Platform: ubuntu-1604
    Architecture: x64
  jobs:
  - template: /azure-pipelines/test_job.yml

- stage: Build_Python_Ubuntu_1804
  dependsOn: []
  variables:
    VmImage: 'ubuntu-18.04'
    Platform: ubuntu-1804
    Architecture: x64
  jobs:
  - template: /azure-pipelines/build_job.yml

- stage: Test_Python_Ubuntu_1804
  dependsOn: Build_Python_Ubuntu_1804
  variables:
    VmImage: 'ubuntu-18.04'
    Platform: ubuntu-1804
    Architecture: x64
  jobs:
  - template: /azure-pipelines/test_job.yml

- stage: Build_Python_X64_Windows
  dependsOn: []
  variables:
    VmImage: 'vs2017-win2016'
    Platform: windows
    Architecture: x64
  jobs:
  - template: /azure-pipelines/build_job.yml

- stage: Test_Python_x64_Windows
  dependsOn: Build_Python_X64_Windows
  variables:
    VmImage: 'vs2017-win2016'
    Platform: windows
    Architecture: x64
  jobs:
  - template: /azure-pipelines/test_job.yml

- stage: Build_Python_x86_Windows
  dependsOn: []
  variables:
    VmImage: 'vs2017-win2016'
    Platform: windows
    Architecture: x86
  jobs:
  - template: /azure-pipelines/build_job.yml

- stage: Test_Python_x86_Windows
  dependsOn: Build_Python_x86_Windows
  variables:
    VmImage: 'vs2017-win2016'
    Platform: windows
    Architecture: x86
  jobs:
  - template: /azure-pipelines/test_job.yml

- stage: Publish_GitHub_Release
  dependsOn:
  - Test_Python_MacOS
  - Test_Python_Ubuntu_1604
  - Test_Python_Ubuntu_1804
  - Test_Python_x64_Windows
  - Test_Python_x86_Windows
  jobs:
  - deployment: Create_GitHub_release_and_publish_assets
    pool:
      name: Azure Pipelines
      vmImage: 'vs2017-win2016'
    environment: Toolcache Tools Generation - Publishing Approval
    strategy:
      runOnce:
        deploy:
          steps:
          - template: /azure-pipelines/create_release_steps.yml