jobs:
- job: ${{ parameters.JobName }}
  timeoutInMinutes: 90
  pool:
    name: Azure Pipelines
    vmImage: $(VmImage)
  steps:
    # - task: PowerShell@2
    #   displayName: 'Build Python $(VERSION)'
    #   inputs:
    #     targetType: filePath
    #     filePath: '/scripts/builders/nix-prebuild.ps1'
    #     arguments: '-Version $(ToolVersion) -Architecture $(Architecture) -DestinationPath $(Build.BinariesDirectory) -Platform $(Platform)'

    # - task: PublishBuildArtifacts@1
    #   displayName: 'Publish Artifact: Python $(VERSION)'
    #   inputs:
    #     PathtoPublish: '$(Build.BinariesDirectory)'
    #     ArtifactName: '$(ToolName)-$(ToolVersion)-$(Architecture)-$(Platform)'
  
  - powershell: |
      New-Item -Path '/$(ToolName)-$(ToolVersion)-$(Architecture)-$(Platform).txt' -ItemType File
      Add-Content /$(ToolName)-$(ToolVersion)-$(Architecture)-$(Platform).txt "Hello world"
      $compress = @{
        Path = "/$(ToolName)-$(ToolVersion)-$(Architecture)-$(Platform).txt"
        CompressionLevel = "Fastest"
        DestinationPath = "$(Build.BinariesDirectory)/$(ToolName)-$(ToolVersion)-$(Architecture)-$(Platform).Zip"
      }
      Compress-Archive @compress
    displayName: 'Create Archives'