jobs:
- job: Build_Python
  pool:
    name: Azure Pipelines
    vmImage: $(VmImage)
  steps:
  - task: PowerShell@2
    displayName: 'Build Python $(VERSION)'
    inputs:
      targetType: filePath
      filePath: './scripts/builders/win-prebuild.ps1'
      arguments: '-Version $(VERSION) -Architecture $(Architecture) -DestinationPath $(Build.BinariesDirectory)'

  - task: PublishPipelineArtifact@1
    displayName: 'Publish Artifact: Python $(VERSION)'
    inputs:
      targetPath: '$(Build.BinariesDirectory)' 
      artifactName: 'python-$(VERSION)-$(Architecture)-$(Platform)'