trigger: none
pr:
  autoCancel: false
  branches:
    include:
    - master

jobs:
- job: Run_Builds
  pool:
    name: Azure Pipelines
    vmImage: 'vs2017-win2016'

  steps:
  - checkout: self
    submodules: true

  - task: PowerShell@2
    displayName: Env Variables
    inputs:
      TargetType: inline
      script: |
        Get-ChildItem Env:

  - task: PowerShell@2
    displayName: 'Run builds'
    inputs:
      targetType: filePath
      filePath: './azure-pipelines/run-builds.ps1 '
      arguments: '-AzDoOrganizationName $(ORGANIZATION_NAME) `
                   -AzDoProjectName $(PROJECT_NAME) `
                   -AzDoAccessToken $(ACCESS_TOKEN) `
                   -SourceBranch $(SYSTEM_PULLREQUEST_SOURCEBRANCH) `
                   -PythonVersions $(PYTHON_VERSIONS) `
                   -BuildId $(BUILD_ID) `
                   -PullRequestId $(SYSTEM_PULLREQUEST_PULLREQUESTID) `
                   -PullRequestNumber $(SYSTEM_PULLREQUEST_PULLREQUESTNUMBER) `
                   -MergedAt $(SYSTEM_PULLREQUEST_MERGEDAT) `
                   -TargetBranch $(SYSTEM_PULLREQUEST_TARGETBRANCH) `
                   -SourceRepositoryUri $(SYSTEM_PULLREQUEST_SOURCEREPOSITORYURI) `
                   -SourceCommitId $(SYSTEM_PULLREQUEST_SOURCECOMMITID)'