trigger: none
pr:
  autoCancel: true
  branches:
    include:
    - master

jobs:
- job: Run_Builds
  pool:
    name: Azure Pipelines
    vmImage: 'ubuntu-latest'

  steps:
  - checkout: self
    submodules: true

  - task: PowerShell@2
    displayName: 'Run build'
    inputs:
      targetType: filePath
      filePath: './helpers/run-builds.ps1 '
      arguments: '-AzDoOrganizationName $Env:ORGANIZATION_NAME `
                   -AzDoProjectName $Env:PROJECT_NAME `
                   -AzDoAccessToken $(System.AccessToken) `
                   -SourceBranch $Env:BUILD_SOURCEBRANCH `
                   -ToolVersions $Env:PYTHON_VERSIONS `
                   -DefinitionId $Env:BUILD_ID'