jobs:
  - job: Test_Python
    pool: 
      name: Azure Pipelines
      vmImage: $(VmImage)

    steps:
    # - task: DownloadPipelineArtifact@2
    #   inputs:
    #     source: 'current'
    #     artifact: 'python-$(VERSION)-$(Architecture)-$(Platform)'
    #     path: $(Build.BinariesDirectory)

    # - task: PowerShell@2
    #   displayName: Apply build artifact to the local machines
    #   inputs:
    #     TargetType: inline
    #     script: 'npm install'
    #     workingDirectory: '$(Build.BinariesDirectory)/python-$(VERSION)-$(Architecture)-$(Platform)'

    - task: UsePythonVersion@0
      displayName: 'Use Python $(VERSION)'
      inputs:
        versionSpec: '$(VERSION)'
        architecture: '$(Architecture)'

    - task: PowerShell@2
      displayName: Run tests
      inputs:
        TargetType: inline
        script: |
          Install-Module Pester -Force -Scope CurrentUser
          Import-Module Pester
          Invoke-Pester -Script @{Path="./Python.Tests.ps1"; Parameters=@{Version=$Version; Platform=$Platform; ToolsDirectory=$ToolsDirectory}} -OutputFile "test_results.xml" -OutputFormat NUnitXml
        arguments: '-Version $(VERSION) -Platform $(Platform) -ToolsDirectory $(Agent.ToolsDirectory)'
        workingDirectory: '$(Build.SourcesDirectory)/tests/sources'


    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '*.xml'
        testResultsFormat: NUnit
        searchFolder: 'tests/sources'
        failTaskOnFailedTests: true
      displayName: Publish test results
      condition: always()